@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");
/* -------------RESET------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'DM Sans', sans-serif; }

.grid-galeria {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 35px;
  padding: 35px; }
  .grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.contactdata {
  display: flex;
  justify-content: space-around;
  padding: 60px 30px 60px 30px; }
  .contactdata img {
    height: 65px;
    width: 65px;
    object-fit: cover; }
  .contactdata div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contactdata div p {
      font-weight: 500; }

.boton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .boton a {
    text-decoration: none;
    list-style: none;
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: 600;
    border: 3px solid lightpink;
    border-radius: 10px;
    padding: 10px;
    margin: 2px 4px 5px 4px;
    transition: 1.0s; }
    .boton a:hover {
      color: lightpink;
      transform: scale(1.07); }

.header {
  background-color: black;
  position: sticky;
  top: 0;
  color: white;
  z-index: 1; }
  .header div img {
    width: 43px;
    height: 65px;
    margin: 10px 20px 10px 20px; }
  .header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header nav ul li {
      margin: 10px 15px 10px 15px; }
      .header nav ul li a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: large;
        transition: 0.45s; }
        .header nav ul li a.active:hover {
          color: white; }
        .header nav ul li a:hover {
          color: white; }
  .header .logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px; }
    .header .logo h1 {
      font-size: 27px; }

.navbar {
  padding: 0px; }
  .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  .navbar .navbar-brand {
    margin: 0px;
    padding: 0px; }
  .navbar .container-fluid {
    flex-direction: column;
    padding: 0%; }
  .navbar .collapse {
    background-color: lightpink;
    border-top: 3px solid white;
    border-bottom: 3px solid white; }

/** Home Page */
.hero {
  width: 100%;
  height: 80vh;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.325), rgba(0, 0, 0, 0.325)), url("../img/home-p.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .hero div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px; }
    .hero div h2 {
      font-size: 45px;
      padding: 8px;
      font-weight: 900; }
    .hero div p {
      font-size: 25px;
      font-weight: 600;
      text-align: center; }

.history {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center; }
  .history div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .history div h2 {
      margin: 15px;
      font-weight: 900;
      font-size: 50px; }
    .history div p {
      width: 50%;
      margin-bottom: 22px;
      text-align: justify;
      font-size: 17px;
      font-weight: 500; }
    .history div a {
      text-decoration: none;
      list-style: none;
      color: white;
      background-color: black;
      font-size: 18px;
      font-weight: 600;
      border: 3px solid lightpink;
      border-radius: 10px;
      padding: 10px;
      transition: 1.0s; }
      .history div a:hover {
        color: lightpink;
        transform: scale(1.07); }
  .history img {
    width: 50%;
    object-fit: cover; }

.galeria {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .galeria div h2 {
    font-size: 35px;
    font-weight: 600;
    padding-top: 15px; }
  .galeria div p {
    font-size: larger;
    font-weight: 600;
    padding: 15px; }
  .galeria .boton {
    margin-bottom: 15px; }

.contacto {
  width: 80%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .contacto h2 {
    text-align: center;
    padding: 10px; }
  .contacto .boton-contacto {
    width: 85%;
    margin: 0 auto;
    font-size: larger;
    background-color: lightpink;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600; }
    .contacto .boton-contacto a {
      text-decoration: none;
      list-style: none;
      color: black;
      transition: 0.5s; }
      .contacto .boton-contacto a:hover {
        color: white; }

/** Cursos Page */
.coursehero {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.325), rgba(0, 0, 0, 0.325)), url("../img/cursos-p.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center; }
  .coursehero div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 10px; }
    .coursehero div h2 {
      margin: 15px;
      font-weight: 900;
      font-size: 50px; }
    .coursehero div p {
      font-size: 25px;
      width: 65%;
      padding: 10px;
      font-weight: 600;
      text-align: center; }

.cursos {
  width: 95%;
  margin: 0 auto;
  height: auto;
  padding: 20px; }
  .cursos .coursewelcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto; }
    .cursos .coursewelcome h3 {
      padding-top: 30px;
      font-weight: 600; }
  .cursos .cursos-marco {
    border: 3px solid lightpink;
    border-radius: 15px;
    padding: 30px 90px 30px 90px;
    margin: 30px; }
    .cursos .cursos-marco div {
      height: auto; }
      .cursos .cursos-marco div h4 {
        padding: 35px 0px 10px 0px;
        font-weight: 600; }
      .cursos .cursos-marco div p {
        font-size: large;
        padding: 15px 0px 15px 0px; }

.coursebye {
  width: 100%; }
  .coursebye div {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .coursebye div p {
      text-align: center;
      font-size: larger;
      padding: 10px; }
    .coursebye div a {
      width: 100%;
      text-decoration: none;
      text-align: center;
      list-style: none;
      color: white;
      background-color: black;
      font-size: 18px;
      font-weight: 600;
      border-top: 3px solid lightpink;
      border-bottom: 3px solid lightpink;
      padding: 10px;
      transition: color 0.5s; }
      .coursebye div a:hover {
        color: lightpink; }

/** History Page */
.historyhero {
  width: 100%;
  height: 80vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center; }
  .historyhero div {
    width: auto;
    background-color: rgba(0, 0, 0, 0.325);
    padding: 20px; }
    .historyhero div h2 {
      color: lightpink;
      border: 2px solid white;
      padding: 10px 0px 10px 0px;
      width: 95%;
      margin: 0 auto;
      font-weight: 900;
      font-size: 50px; }
    .historyhero div p {
      font-size: 35px;
      width: 100%;
      padding: 10px;
      font-weight: 600; }

.origen {
  background-color: black;
  background-size: 75%;
  width: 100%;
  height: auto;
  margin: 0 auto; }
  .origen h3 {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 5%;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: center; }
  .origen div {
    width: 59%;
    margin: 0 auto;
    height: auto;
    background-color: white;
    border: 10px solid lightpink;
    padding: 3.5% 2.5% 2.5% 2.5%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .origen div img {
      height: 337px;
      width: 600px;
      border: 3.5px solid lightpink;
      margin-bottom: 30px; }
    .origen div p {
      width: 80%;
      font-size: 16px;
      font-weight: 500; }

.espacio {
  background-color: black;
  height: 50px; }

/** Gallery Page */
.carrusel {
  width: 100%; }
  .carrusel .carousel-inner .carousel-item {
    z-index: -1; }
    .carrusel .carousel-inner .carousel-item img {
      height: 75vh;
      object-fit: cover; }

.texto-galeria {
  background-color: black;
  color: white;
  padding: 80px 35px 100px 35px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .texto-galeria h2 {
    text-align: center; }

/** Contact Page */
.contacthero {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.325), rgba(0, 0, 0, 0.325)), url("../img/contacto-p.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }
  .contacthero div {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contacthero div h2 {
      font-size: 45px;
      font-weight: 900; }

.mapa {
  padding-bottom: 50px; }

.formulario-section {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }
  .formulario-section .motivar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .formulario-section .motivar h3 {
      font-weight: 600;
      text-align: center; }
    .formulario-section .motivar p {
      font-size: large;
      font-weight: 500; }
  .formulario-section .formulario {
    width: 40%;
    border: 3px solid lightpink;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 10px 50px 10px; }
    .formulario-section .formulario div .input {
      width: 100%;
      height: initial; }
    .formulario-section .formulario .boton a {
      font-size: 18px;
      padding: 8px;
      margin-top: 10px; }

.footer {
  background-color: black;
  display: flex;
  color: white;
  padding: 10px;
  justify-content: space-between; }
  .footer .logo-footer {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .logo-footer img {
      width: 43px;
      height: 65px;
      margin: 10px; }
    .footer .logo-footer h2 {
      font-size: 15px; }
  .footer .links {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .links a {
      margin: 0 10px; }
      .footer .links a img {
        height: 60px;
        width: 60px; }

/* ------------MEDIA QUERY------------- */
/* ----------Home page--------- */
@media screen and (max-width: 1080px) {
  .hero .boton a {
    font-size: 15px;
    padding: 8px; }
  .history div a {
    font-size: 15px;
    padding: 8px; }
  .galeria {
    padding: 0; }
    .galeria .boton a {
      font-size: 15px;
      padding: 8px; }
  .contacto {
    width: 100%; }
    .contacto .contactdata {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 0; }
      .contacto .contactdata div img {
        width: 35px;
        height: 35px;
        margin: 10px; }
      .contacto .contactdata div h3 {
        font-size: 18px;
        padding: 0;
        margin: 0; }
      .contacto .contactdata div p {
        font-size: 14px;
        padding: 0;
        margin: 0; }
    .contacto .boton-contacto {
      width: 50%;
      margin-top: 15px;
      font-size: 15px; } }

@media screen and (max-width: 850px) {
  .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    font-size: 15px; }
  .hero div h2 {
    font-size: 35px; }
  .hero div p {
    font-size: 20px; }
  .history {
    background-image: url("../img/history-img(2).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .history div h2 {
      color: white;
      font-size: 90px;
      font-weight: 900;
      margin: 35px; }
    .history div p {
      display: none; }
    .history img {
      display: none; }
  .galeria {
    height: auto;
    padding: 20px; }
    .galeria div p {
      width: 75%;
      margin: 0 auto;
      width: 100%; }
    .galeria .grid-galeria {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: auto; }
      .galeria .grid-galeria .grid-item {
        margin: 0 auto;
        height: 450px;
        width: 450px; } }

@media screen and (max-width: 602px) {
  .header .navbar .container-fluid .logo h1 {
    font-size: 20px; }
  .hero div h2 {
    font-size: 28px; }
  .hero div p {
    font-size: 15px; }
  .history {
    background-image: url("../img/history-img(2).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .history div h2 {
      font-size: 60px; }
  .footer .logo-footer h2 {
    font-size: 12px; } }

@media screen and (max-width: 560px) {
  .galeria div h2 {
    font-size: 15px; }
  .galeria div p {
    font-size: 12px; }
  .galeria .grid-galeria .grid-item {
    margin: 0 auto;
    height: 300px;
    width: 300px; } }

@media screen and (max-width: 477px) {
  .header .navbar .container-fluid .logo h1 {
    font-size: 15px; }
  .contacto {
    width: 100%; }
    .contacto h2 {
      font-size: 18px; }
    .contacto .contactdata div img {
      height: 25px;
      width: 25px;
      margin: 7px; }
  .footer .logo-footer h2 {
    font-size: 9px; }
  .footer .logo-footer img {
    height: 55px;
    width: 33px; }
  .footer .links a img {
    height: 45px;
    width: 45px; } }

@media screen and (max-width: 440px) {
  .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    font-size: 13px; }
  .hero div h2 {
    font-size: 20px; }
  .hero div p {
    font-size: 12.5px; }
  .hero .boton a {
    font-size: 10px;
    padding: 5px; }
  .history div h2 {
    font-size: 40px; }
  .history div a {
    font-size: 10px;
    padding: 5px; }
  .galeria .boton a {
    font-size: 10px;
    padding: 5px; }
  .contacto .contactdata div h3 {
    font-size: 15px; }
  .contacto .contactdata div p {
    font-size: 12px; }
  .contacto .boton-contacto a {
    font-size: 14px;
    padding: 8px; } }

@media screen and (max-width: 391px) {
  .header .navbar .container-fluid .logo h1 {
    font-size: 12px; }
  .header .navbar .container-fluid .collapse .navbar-nav .nav-item {
    font-size: 12px; }
  .galeria .grid-galeria {
    padding: 20px 0px 20px 0px; }
    .galeria .grid-galeria .grid-item {
      margin: 0 auto;
      height: 250px;
      width: 250px; } }

@media screen and (max-width: 325px) {
  .header .navbar .container-fluid .logo h1 {
    font-size: 11px; }
  .header .navbar .container-fluid .logo img {
    margin: 5px; }
  .footer .logo-footer h2 {
    font-size: 9px; }
  .footer .logo-footer img {
    margin: 5px; }
  .footer .links {
    padding: 0; }
    .footer .links a img {
      height: 28px;
      width: 28px; } }

/* ----------COURSES PAGE---------- */
@media screen and (max-width: 1080px) {
  .coursehero div h2 {
    font-size: 45px; }
  .coursehero div p {
    font-size: 20px; }
  .cursos {
    width: 100%; }
    .cursos .coursewelcome h3 {
      font-size: 22px; }
    .cursos .coursewelcome p {
      font-size: 16px; }
    .cursos .cursos-marco {
      padding: 30px; }
      .cursos .cursos-marco div h4 {
        font-size: 20px; }
      .cursos .cursos-marco div p {
        font-size: 16px; }
  .coursebye div p {
    padding: 5px;
    font-size: 16px; }
  .coursebye div a {
    font-size: 16px;
    padding: 5px; } }

@media screen and (max-width: 880px) {
  .coursebye div {
    padding: 0;
    padding-top: 10px; } }

@media screen and (max-width: 840px) {
  .coursehero div h2 {
    font-size: 35px; }
  .coursehero div p {
    font-size: 19px; }
  .cursos {
    width: 100%; }
    .cursos .coursewelcome h3 {
      font-size: 20px; }
    .cursos .coursewelcome p {
      font-size: 15px; }
    .cursos .cursos-marco {
      padding: 30px; }
      .cursos .cursos-marco div h4 {
        font-size: 18px; }
      .cursos .cursos-marco div p {
        font-size: 15px; }
  .coursebye div p {
    width: 80%;
    font-size: 15px; } }

@media screen and (max-width: 800px) {
  .coursebye div {
    padding: 0; }
  .cursos .cursos-marco {
    margin: 0; } }

@media screen and (max-width: 765px) {
  .cursos .coursewelcome h3 {
    font-size: 18px; }
  .cursos .cursos-marco div h4 {
    font-size: 16px; } }

@media screen and (max-width: 721px) {
  .cursos .cursos-marco {
    padding: 10px 30px 10px 30px; } }

@media screen and (max-width: 691px) {
  .coursehero div h2 {
    font-size: 24px; }
  .coursehero div p {
    font-size: 15px; }
  .cursos .coursewelcome h3 {
    font-size: 16px; }
  .cursos .coursewelcome p {
    font-size: 13px; }
  .cursos .cursos-marco div p {
    font-size: 13px; }
  .coursebye div p {
    font-size: 13px; } }

@media screen and (max-width: 619px) {
  .cursos .coursewelcome h3 {
    font-size: 14px; }
  .cursos .coursewelcome p {
    font-size: 12px; }
  .cursos .cursos-marco div h4 {
    font-size: 14px; }
  .cursos .cursos-marco div p {
    font-size: 12px; }
  .coursebye div p {
    font-size: 12px; } }

@media screen and (max-width: 548px) {
  .coursehero div p {
    width: 80%; }
  .cursos {
    width: 90%;
    padding: 5px 5px 15px 5px; }
    .cursos .coursewelcome h3 {
      text-align: center;
      padding-bottom: 10px; }
  .coursebye div p {
    display: none; } }

@media screen and (max-width: 440px) {
  .cursos {
    width: 90%; } }

/* ----------HISTORY PAGE---------- */
@media screen and (max-width: 1200px) {
  .origen h3 {
    font-size: 19px;
    width: 65%; }
  .origen div img {
    height: 281px;
    width: 500px; } }

@media screen and (max-width: 1080px) {
  .historyhero div h2 {
    font-size: 45px; }
  .historyhero div p {
    font-size: 28px; }
  .origen div {
    width: 75%; }
    .origen div p {
      font-size: 15px; } }

@media screen and (max-width: 840px) {
  .historyhero div h2 {
    font-size: 35px; }
  .historyhero div p {
    font-size: 20px; }
  .origen h3 {
    font-size: 16px;
    width: 75%; }
  .origen div img {
    height: 225px;
    width: 400px; }
  .origen div p {
    font-size: 15px; } }

@media screen and (max-width: 720px) {
  .origen h3 {
    font-size: 15px; }
  .origen div {
    width: 80%; }
    .origen div p {
      font-size: 13px; } }

@media screen and (max-width: 620px) {
  .historyhero div h2 {
    font-size: 28px; }
  .historyhero div p {
    font-size: 18px; }
  .origen h3 {
    font-size: 14px;
    width: 65%; }
  .origen div img {
    height: 180px;
    width: 320px; }
  .origen div p {
    width: 90%; }
  .espacio {
    height: 30px; } }

@media screen and (max-width: 530px) {
  .origen h3 {
    font-size: 14px;
    width: 75%; } }

@media screen and (max-width: 461px) {
  .historyhero div h2 {
    font-size: 24px; }
  .historyhero div p {
    font-size: 15px; }
  .origen h3 {
    font-size: 13px;
    width: 80%; }
  .origen div img {
    height: 157px;
    width: 280px; }
  .origen div p {
    font-size: 12px; } }

@media screen and (max-width: 401px) {
  .historyhero div p {
    font-size: 12px; }
  .origen h3 {
    font-size: 12px;
    width: 86%; }
  .origen div {
    width: 90%; }
    .origen div img {
      height: 141px;
      width: 250px; }
    .origen div p {
      font-size: 11px;
      font-style: normal; } }

@media screen and (max-width: 340px) {
  .origen div img {
    height: 115px;
    width: 205px; } }

/* ----------GALLERY PAGE---------- */
@media screen and (max-width: 1080px) {
  .texto-galeria h2 {
    font-size: 20px; }
  .texto-galeria p {
    font-size: 15px; } }

@media screen and (max-width: 850px) {
  .grid-galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto; }
    .grid-galeria .grid-item {
      margin: 0 auto;
      height: 450px;
      width: 450px; } }

@media screen and (max-width: 800px) {
  .texto-galeria h2 {
    width: 65%;
    font-size: 17px; }
  .texto-galeria p {
    font-size: 14px; } }

@media screen and (max-width: 580px) {
  .carrusel .carousel-inner .carousel-item img {
    height: calc(80vh - 200px);
    object-fit: cover; } }

@media screen and (max-width: 561px) {
  .texto-galeria h2 {
    font-size: 15px; }
  .grid-galeria .grid-item {
    margin: 0 auto;
    height: 300px;
    width: 300px; } }

@media screen and (max-width: 475px) {
  .texto-galeria p {
    width: 85%; } }

@media screen and (max-width: 391px) {
  .texto-galeria h2 {
    width: 70%;
    font-size: 14px; }
  .texto-galeria p {
    width: 85%;
    font-size: 12px; }
  .grid-galeria {
    padding: 30px 0px 30px 0px; }
    .grid-galeria .grid-item {
      margin: 0 auto;
      height: 250px;
      width: 250px; } }

/* ----------CONTACT PAGE---------- */
@media screen and (max-width: 1200px) {
  .contacthero div h2 {
    font-size: 36px; } }

@media screen and (max-width: 1080px) {
  .contacthero div h2 {
    font-size: 30px; }
  .contactdata {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0; }
    .contactdata img {
      width: 35px;
      height: 35px;
      margin: 10px; }
    .contactdata div h3 {
      font-size: 18px;
      padding: 0;
      margin: 0; }
    .contactdata div p {
      font-size: 14px;
      padding: 0;
      margin: 0; }
  .formulario-section .motivar h3 {
    font-size: 20px; }
  .formulario-section .motivar p {
    font-size: 15px; }
  .formulario-section .formulario div label {
    font-size: 14px; } }

@media screen and (max-width: 800px) {
  .contacthero div h2 {
    font-size: 25px; } }

@media screen and (max-width: 689px) {
  .contacthero div h2 {
    font-size: 20px; }
  .formulario-section .formulario {
    width: 50%; } }

@media screen and (max-width: 565px) {
  .contacthero div h2 {
    font-size: 28px;
    text-align: center; }
  .contactdata {
    padding-top: 15px;
    padding-bottom: 15px; }
    .contactdata img {
      height: 25px;
      width: 25px;
      margin: 7px; }
  .formulario-section .formulario {
    width: 75%; }
    .formulario-section .formulario .boton a {
      font-size: 14px;
      padding: 8px;
      margin-top: 5px; } }

@media screen and (max-width: 450px) {
  .contacthero div h2 {
    font-size: 22px;
    text-align: center; }
  .formulario-section .motivar h3 {
    font-size: 15px; }
  .formulario-section .motivar p {
    font-size: 12px; }
  .formulario-section .formulario {
    width: 80%; }
    .formulario-section .formulario div label {
      font-size: 12px; } }

@media screen and (max-width: 440px) {
  .contactdata div h3 {
    font-size: 15px; }
  .contactdata div p {
    font-size: 12px; } }
