@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');

/* -------------RESET------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0 auto;
    font-family: 'DM Sans', sans-serif;
}

/*! -------------HEADER------------- **/

.navbar{
    padding: 0px;
}

.navbar-brand{
    margin: 0px;
    padding: 0px;
}

.container-fluid{
    flex-direction: column;
    padding: 0%;
}

.collapse{
    background-color: lightpink;
}

.header{
    background-color: black;
    position: sticky;
    top: 0;
    color: white;
}

.header div img{
    width: 43px;
    height: 65px;
    margin: 10px 20px 10px 20px;
}

.header nav ul{
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
}

.header nav ul li {
    margin: 10px 15px 10px 15px;
}

.header nav ul li a{
text-decoration: none;
color: black;
font-weight:600;
font-size: large;
}

.logo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.logo h2{
    font-size: 27px;
}


/*! -------------MAIN------------- !*/

/** Home Page */

.hero{
    width: 100%;
    height: 80vh;
    color: white;
    background-image: url("../img/home-p.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 10px;
}

.hero div h1{
    font-size: 35px;
    padding: 8px;
    font-weight:700;
}

.hero div p{
    font-size: 25px;
    font-weight:500;
    text-align: center;
}

.boton{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton a{
    text-decoration: none;
    list-style: none;
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: 600;
    border: 3px solid lightpink;
    border-radius: 10px;
    padding: 10px;
    margin: 2px 4px 5px 4px;
}

.history{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.history img{
    width: 50%;
    object-fit: cover;
}

.history div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.history div h2{
    margin: 15px;
    font-size: 35px;
}

.history div p{
    width: 50%;
    margin-bottom: 22px;
    text-align: justify;
    font-size: 17px;
    font-weight: 500;    
}

.history div a{
    text-decoration: none;
    list-style: none;
    color: white;
    background-color: black;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid lightpink;
    border-radius: 10px;
    padding: 10px;
}

.galeria{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.galeria div h2{
    font-size: 35px;
    font-weight: 600;
    padding-top: 15px;
}

.galeria div p{
    font-size: larger;
    font-weight: 600;
    padding: 15px;
}

.contacto{
    width: 80%;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto h2{
    text-align: center;
    padding: 10px;
}

.boton-contacto{
    width: 94%;
    margin: 0 auto;
    font-size: larger;
    background-color: lightpink;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}

.boton-contacto a{
    text-decoration: none;
    list-style: none;
    color: black;
}

.contactdata div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.contactdata div p{
    font-weight: 500;
}

/** Courses Page */

.coursehero{
    width: 100%;
    height: 80vh;
    background-image: url("../img/cursos-p.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.coursehero div{
    width: 68%;
    background-color: rgba(0, 0, 0, 0.404);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 10px;
}

.coursehero h2{
    margin: 15px;
    font-size: 40px;
}

.coursehero p{
    font-size: 25px;
    width: 85%;
    padding: 10px;
    font-weight:500;
    text-align: center;
}

.cursos{
    width: 80%;
    margin: 0 auto;
    height: auto;
    padding: 50px;
}

.cursos-marco{
    border: 3px solid lightpink;
    border-radius: 15px;
    padding: 30px 90px 30px 90px;
    margin: 30px;
}

.coursewelcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.cursos div{
    height: auto;
}

.cursos h2{
    padding-top: 30px;
    font-weight: 600;
}

.cursos h3{
    font-size: larger;
    font-weight: 500;
    padding: 20px 0px 40px 0px;
}

.cursos h4{
    padding: 35px 0px 10px 0px;
    font-weight: 600;
}

.cursos p{
    font-size: large;
    padding: 15px 0px 15px 0px;
}

.coursebye{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.coursebye p{
    text-align: center;
    font-size: larger;
    padding: 10px;
}

.coursebye a{
    width: 35%;
    text-decoration: none;
    text-align: center;
    list-style: none;
    color: white;
    background-color: black;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid lightpink;
    border-radius: 5px;
    padding: 10px;
}

/** History Page */

.historyhero{
    width: 100%;
    height: 80vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.historyhero h1{
    font-weight: 900;
    font-size: 50px;
}

.historyhero div{
    width: auto;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 20px;
}

.historyhero div p{
    font-size: 35px;
    width: 100%;
    padding: 10px;
    font-weight:500;
}

.origen{
    background-color: black;
    background-size: 75%;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
}

.origen div{
    width: 59%;
    margin: 0 auto;
    height: auto;
    background-color: white;
    padding: 80px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.origen div img{
    border: 3px solid black;
}

.origen div p{
    width: 80%;
    font-size: 18px;
    font-weight: 500;
}

.origen h3{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 5%;
    font-weight: 600;
    color: white;
    text-align: center;
}

.espacio-extra{
    width: 100%;
    height: 80vh;
}


/** Gallery Page */

.texto-galeria{
    background-color: black;
    color: white;
    padding: 100px 35px 100px 35px;
    font-size: 25px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.texto-galeria p{
    text-align: center;
}

.carrusel{
    width: 100%;
}

.grid-galeria{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    gap: 35px;
    padding: 35px;
}

.grid-galeria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item{
    z-index: -1;
}

.slide img{
    height: 80vh;
    object-fit: cover;
}


/** Contact Page */

.contacthero{
    width: 100%;
    height: 80vh;
    background-image: url("../img/contacto-p.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.contacthero div{
    width: 65%;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactdata{
    display: flex;
    justify-content: space-around;
    padding: 60px 30px 60px 30px;
}

.contactdata img{
    height: 65px;
    width: 65px;
    object-fit: cover;
}

.mapa{
    padding-bottom: 50px;
}

.formulario-section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.motivar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.motivar h3{
    font-weight: 600;
    text-align: center;
}

.motivar p{
    font-size: large;
    font-weight: 500;
}

.formulario{
    width: 40%;
    border: 3px solid lightpink;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 10px 50px 10px;
}

.input{
    width: 100%;
    height:initial;
}

/*! -------------FOOTER------------- **/

.footer{
    background-color:black;
    display: flex;
    color: white;
}

.footer img{
    width: 43px;
    height: 65px;
    margin: 10px 20px 10px 20px;
}

.footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-footer h2{
    font-size: 15px;
}

/* ------------MEDIA QUERY------------- */


/* ----------Home page--------- */

@media screen and (max-width:1080px){
    
    .hero div{
        width: 75%;
    }

    .hero a{
        font-size: 15px;
        padding: 8px;
    }

    .history div a{
        font-size: 15px;
        padding: 8px;
    }

    .galeria{
        padding: 0;
    }

    .boton a{
        font-size: 15px;
        padding: 8px;
    }

    .contactdata{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }

    .contactdata img{
        width: 35px;
        height: 35px;
        margin: 10px;
    }

    
    .contactdata div h3{
        font-size: 18px;
        padding: 0;
        margin: 0;
    }
    
    .contactdata div p{
        font-size: 14px;
        padding: 0;
        margin: 0;
    }

    .contacto{
        width: 100%;
    }

    .boton-contacto{
        width: 50%;
        margin-top: 15px;
        font-size: 15px;
    }
} 

@media screen and (max-width:850px){

    .hero div{
        width: 90%;
    }

    .hero div h1{
        font-size: 29px;
    }
    .hero div p{
        font-size: 20px;
    }
    
    .history{
        background-image: url("../img/history-img\(2\).png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .history div h2{
        color: white;
        font-size: 90px;
        font-weight: 900;
        margin: 35px;
    }

    .history div p{
        display: none;
    }
    .history img{
        display: none;
    }

    .galeria div p{
        width: 75%;
        margin: 0 auto;
    }

    .galeria{
        height: auto;
        padding: 20px;
    }

    .galeria div p{
        width: 100%;
    }

    .grid-galeria{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    .grid-item{
        margin: 0 auto;
        height: 450px;
        width: 450px;
    }
}  

@media screen and (max-width:602px){
    .logo h2{
        font-size: 20px;
    }

    .logo-footer h2{
        font-size: 12px ;
    }
}

@media screen and (max-width:602px){
    .hero div h1{
        font-size: 20px;
    }

    .hero div p{
        font-size: 15px;
    }

    .history div h2{
        font-size: 60px;
    }
}

@media screen and (max-width:560px){
    .grid-item{
        margin: 0 auto;
        height: 300px;
        width: 300px;
    }
}

@media screen and (max-width:477px){
    .logo h2{
        font-size: 15px;
    }

    .logo-footer h2{
        font-size: 9px ;
    }

    .contacto h2{
        font-size: 18px;
    }

    .contactdata div img{
        height: 25px;
        width: 25px;
    }
}

@media screen and (max-width:440px){

    .hero div{
        width: 100%;
    }
    
    .hero div h1{
        font-size: 19px;
    }

    .hero div p{
        font-size: 12px;
    }
    
    .boton a{
        font-size: 10px;
        padding: 5px;
    }

    .history div a{
        font-size: 10px;
        padding: 5px;
    }

    .galeria div h2{
        font-size: 15px;
    }

    .galeria div p{
        font-size: 12px;
    }

    .contactdata div h3{
        
        font-size: 15px;
    }

    .contactdata div p{
        font-size: 12px;
    }
}

@media screen and (max-width:391px){

    .header nav ul li a{
        font-weight:500;
        font-size: 15px;
        }
    
    .logo h2{
        font-size: 12px;
    }

    .logo-footer h2{
        font-size: 8px ;
    }

    .history div h2{
        font-size: 40px;
    }

    .grid-item{
        margin: 0 auto;
        height: 200px;
        width: 200px;
    }

    .hero div h1{
        font-size: 15px;
    }
}



