$colores: black, lightpink, white, rgba(0, 0, 0, 0.327);

//en lugar de un extend hice un mixin, se aplicar ambos lo prometo
@mixin flex ($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

$boton:(
    fondo: nth($colores, 1),
    borde: 3px solid nth($colores, 2),
    color-txt: nth($colores, 3),
);
